<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My First HTML Page</title>
</head>
<body>

    <header>
        <h1>Welcome to My Website</h1>
    </header>


	
	Category Name : <span th:text = "${category.categoryName}"/>
	
	Category Desc : <span th:text = "${category.categoryDesc}"/>

    <footer>
        <p>&copy; 2023 My Website. All rights reserved.</p>
    </footer>

</body>
</html>